{
    "version": "1.0",
    "metadata": {
        "apiVersion": "2018-07-11",
        "endpointPrefix": "s3",
        "protocol": "rest-xml",
        "serviceAbbreviation": "zenko",
        "serviceFullName": "Zenko Cloudserver Client",
        "signatureVersion": "v4",
        "timestampFormat": "rfc822",
        "uid": "zenko-2018-07-11-xml"
    },
    "operations": {
        "listBuckets": {
            "http": {
                "method": "GET"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Buckets": {
                        "type": "list",
                        "member": {
                            "locationName": "Bucket",
                            "type": "structure",
                            "members": {
                                "Name": {},
                                "CreationDate": {
                                    "type": "timestamp"
                                }
                            }
                        }
                    },
                    "Owner": {
                        "shape": "OwnerDisplayStructure"
                    }
                }
            }
        },
        "searchBucketV2": {
            "http": {
              "method": "GET",
              "requestUri": "/{Bucket}?list-type=2"
            },
            "input": {
              "type": "structure",
              "required": [
                "Bucket",
                "Query"
              ],
              "members": {
                "Query": {
                    "location": "querystring",
                    "locationName": "search"
                },
                "Bucket": {
                  "location": "uri",
                  "locationName": "Bucket"
                },
                "Delimiter": {
                  "location": "querystring",
                  "locationName": "delimiter"
                },
                "EncodingType": {
                  "location": "querystring",
                  "locationName": "encoding-type"
                },
                "MaxKeys": {
                  "location": "querystring",
                  "locationName": "max-keys",
                  "type": "integer"
                },
                "Prefix": {
                  "location": "querystring",
                  "locationName": "prefix"
                },
                "ContinuationToken": {
                  "location": "querystring",
                  "locationName": "continuation-token"
                },
                "FetchOwner": {
                  "location": "querystring",
                  "locationName": "fetch-owner",
                  "type": "boolean"
                },
                "StartAfter": {
                  "location": "querystring",
                  "locationName": "start-after"
                },
                "RequestPayer": {
                  "location": "header",
                  "locationName": "x-amz-request-payer"
                },
                "ExpectedBucketOwner": {
                  "location": "header",
                  "locationName": "x-amz-expected-bucket-owner"
                }
              }
            },
            "output": {
              "type": "structure",
              "members": {
                "IsTruncated": {
                  "type": "boolean"
                },
                "Contents": {
                  "shape": "ContentsStructure"
                },
                "Name": {},
                "Prefix": {},
                "Delimiter": {},
                "MaxKeys": {
                  "type": "integer"
                },
                "CommonPrefixes": {
                  "shape": "CommonPrefixesStructure"
                },
                "EncodingType": {},
                "KeyCount": {
                  "type": "integer"
                },
                "ContinuationToken": {},
                "NextContinuationToken": {},
                "StartAfter": {}
              }
            }
          },
        "searchBucket": {
            "http": {
                "method": "GET",
                "requestUri": "/{Bucket}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Query"
                ],
                "members": {
                    "Query": {
                        "location": "querystring",
                        "locationName": "search"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Delimiter": {
                        "location": "querystring",
                        "locationName": "delimiter"
                    },
                    "EncodingType": {
                        "location": "querystring",
                        "locationName": "encoding-type"
                    },
                    "Marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "MaxKeys": {
                        "location": "querystring",
                        "locationName": "max-keys",
                        "type": "integer"
                    },
                    "Prefix": {
                        "location": "querystring",
                        "locationName": "prefix"
                    },
                    "RequestPayer": {
                        "location": "header",
                        "locationName": "x-amz-request-payer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Marker": {},
                    "NextMarker": {},
                    "Contents": {
                        "shape": "ContentsStructure"
                    },
                    "Name": {},
                    "Prefix": {},
                    "Delimiter": {},
                    "MaxKeys": {
                        "type": "integer"
                    },
                    "CommonPrefixes": {
                        "shape": "CommonPrefixesStructure"
                    },
                    "EncodingType": {}
                }
            }
        },
        "searchBucketVersions": {
            "http": {
                "method": "GET",
                "requestUri": "/{Bucket}?versions=true"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Query"
                ],
                "members": {
                    "Query": {
                        "location": "querystring",
                        "locationName": "search"
                    },
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Delimiter": {
                        "location": "querystring",
                        "locationName": "delimiter"
                    },
                    "EncodingType": {
                        "location": "querystring",
                        "locationName": "encoding-type"
                    },
                    "KeyMarker": {
                        "location": "querystring",
                        "locationName": "key-marker"
                    },
                    "MaxKeys": {
                        "location": "querystring",
                        "locationName": "max-keys",
                        "type": "integer"
                    },
                    "Prefix": {
                        "location": "querystring",
                        "locationName": "prefix"
                    },
                    "ExpectedBucketOwner": {
                        "location": "header",
                        "locationName": "x-amz-expected-bucket-owner"
                    },
                    "VersionIdMarker":{
                        "location": "querystring",
                        "locationName": "version-id-marker",
                        "type": "integer"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "KeyMarker": {},
                    "VersionIdMarker": {},
                    "NextKeyMarker": {},
                    "NextVersionIdMarker": {},
                    "Version": {
                        "shape": "VersionStructure"
                    },
                    "DeleteMarker": {
                        "shape": "DeleteMarkerStructure"
                    },
                    "Name": {},
                    "Prefix": {},
                    "Delimiter": {},
                    "MaxKeys": {
                        "type": "integer"
                    },
                    "CommonPrefixes": {
                        "shape": "CommonPrefixesStructure"
                    },
                    "EncodingType": {}
                }
            }
        }
    },
    "shapes": {
        "CommonPrefixesStructure": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Prefix": {}
                }
            },
            "flattened": true
        },
        "OwnerDisplayStructure": {
            "type": "structure",
            "members": {
                "DisplayName": {},
                "ID": {}
            }
        },
        "ContentsStructure": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "LastModified": {
                        "type": "timestamp"
                    },
                    "ETag": {},
                    "Size": {
                        "type": "integer"
                    },
                    "StorageClass": {},
                    "Owner": {
                        "shape": "OwnerDisplayStructure"
                    }
                }
            },
            "flattened": true 
        },
        "VersionStructure": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "IsLatest": {
                        "type": "boolean"
                    },
                    "LastModified": {
                        "type": "timestamp"
                    },
                    "ETag": {},
                    "Size": {
                        "type": "integer"
                    },
                    "StorageClass": {},
                    "Owner": {
                        "shape": "OwnerDisplayStructure"
                    },
                    "VersionId": {}
               
                }
            },
            "flattened": true 
        },
        "DeleteMarkerStructure": {
            "type": "list",
            "member": {
                "type": "structure",
                "members": {
                    "Key": {},
                    "IsLatest": {
                        "type": "boolean"
                    },
                    "LastModified": {
                        "type": "timestamp"
                    },
                    "Owner": {
                        "shape": "OwnerDisplayStructure"
                    },
                    "VersionId": {}
                }
            },
            "flattened": true 
        }
    }
}
