{
    "version": "1.0",
    "metadata": {
        "apiVersion": "2018-07-08",
        "endpointPrefix": "s3",
        "protocol": "rest-json",
        "serviceAbbreviation": "zenko",
        "serviceFullName": "Zenko Cloudserver Client",
        "signatureVersion": "v4",
        "timestampFormat": "rfc822",
        "uid": "zenko-2018-07-08-json"
    },
    "operations": {
        "checkConnection": {
            "http": {
                "method": "GET",
                "requestUri": "/_/backbeat/api/healthcheck"
            }
        },
        "getLocationsStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/_/backbeat/api/crr/status"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            },
            "alias": "getLocationsReplicationStatus"
        },
        "getLocationsIngestionStatus": {
            "http": {
                "method": "GET",
                "requestUri": "/_/backbeat/api/ingestion/status"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            }
        },
        "listFailed": {
            "http": {
                "method": "GET",
                "requestUri": "/_/backbeat/api/crr/failed"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Marker": {
                        "location": "querystring",
                        "locationName": "marker"
                    },
                    "Sitename": {
                        "location": "querystring",
                        "locationName": "sitename"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "NextMarker": {
                        "type": "string"
                    },
                    "Versions": {
                        "type": "list",
                        "member": {
                            "shape": "responseShape"
                        }
                    }
                }
            }
        },
        "getFailedObject": {
            "http": {
                "method": "GET",
                "requestUri": "/_/backbeat/api/crr/failed/{Bucket}/{Key}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Bucket",
                    "Key",
                    "VersionId"
                ],
                "members": {
                    "Bucket": {
                        "location": "uri",
                        "locationName": "Bucket"
                    },
                    "Key": {
                        "location": "uri",
                        "locationName": "Key"
                    },
                    "VersionId": {
                        "location": "querystring",
                        "locationName": "versionId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "IsTruncated": {
                        "type": "boolean"
                    },
                    "Versions": {
                        "type": "list",
                        "member": {
                            "shape": "responseShape"
                        }
                    }
                }
            }
        },
        "retryFailedObjects": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/crr/failed"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Body"
                ],
                "members": {
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "structure",
                "members": {
                    "Results": {
                        "type": "list",
                        "member": {
                            "shape": "retryResponseShape"
                        }
                    }
                },
                "payload": "Results"
            }
        },
        "pauseAllSites": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/crr/pause"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            },
            "alias": "pauseAllReplicationSites"
        },
        "pauseAllIngestionSites": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/ingestion/pause"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            }
        },
        "pauseSite": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/crr/pause/{Site}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "string",
                        "location": "uri",
                        "locationName": "Site"
                    },
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            },
            "alias": "pauseReplicationSite"
        },
        "pauseIngestionSite": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/ingestion/pause/{Site}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "string",
                        "location": "uri",
                        "locationName": "Site"
                    },
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            }
        },
        "resumeAllSites": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/crr/resume"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            },
            "alias": "resumeAllReplicationSites"
        },
        "resumeAllIngestionSites": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/ingestion/resume"
            },
            "input": {
                "type": "structure",
                "members": {
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            }
        },
        "resumeSite": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/crr/resume/{Site}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "string",
                        "location": "uri",
                        "locationName": "Site"
                    },
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            },
            "alias": "resumeReplicationSite"
        },
        "resumeIngestionSite": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/ingestion/resume/{Site}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "string",
                        "location": "uri",
                        "locationName": "Site"
                    },
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            }
        },
        "scheduleSiteResume": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/crr/resume/{Site}/schedule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "string",
                        "location": "uri",
                        "locationName": "Site"
                    },
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            },
            "alias": "scheduleReplicationSiteResume"
        },
        "scheduleIngestionSiteResume": {
            "http": {
                "method": "POST",
                "requestUri": "/_/backbeat/api/ingestion/resume/{Site}/schedule"
            },
            "input": {
                "type": "structure",
                "required": [
                    "Site"
                ],
                "members": {
                    "Site": {
                        "type": "string",
                        "location": "uri",
                        "locationName": "Site"
                    },
                    "Body": {
                        "type": "binary",
                        "isStreaming": false
                    }
                },
                "payload": "Body"
            },
            "output": {
                "type": "map",
                "key": {},
                "value": {}
            }
        },
        "createWorkflow": {
            "http": {
                "method": "POST",
                "requestUri": "/_/workflow-engine-operator/api/workflow"
            },
            "input": {
                "type": "structure",
                "required": [
                    "code"
                ],
                "members": {
                    "code": {
                        "type": "string"
                    }
                },
                "payload": "code"
            },
            "output": {
                "members": {
                    "workflowId": {
                        "type": "string"
                    }
                },
                "payload": "workflowId"
            }
        },
        "saveWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/_/workflow-engine-operator/api/workflow/{workflowId}/code"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "code"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "code": {
                        "type": "string"
                    }
                },
                "payload": "code"
            },
            "output": {
                "members": {
                    "status": {
                        "type": "string"
                    }
                },
                "payload": "status"
            }
        },
        "renameWorkflow": {
            "http": {
                "method": "PUT",
                "requestUri": "/_/workflow-engine-operator/api/workflow/{workflowId}/name"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "newName"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "newName": {
                        "type": "blob"
                    }
                },
                "payload": "newName"
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "type": "blob"
                    }
                },
                "payload": "status"
            }
        },
        "setLatestWorkflowVersionActive": {
            "http": {
                "method": "PUT",
                "requestUri": "/_/workflow-engine-operator/api/workflow/{workflowId}/active"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId",
                    "active"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    },
                    "active": {
                        "type": "boolean"
                    }
                },
                "payload": "active"
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "type": "blob"
                    }
                },
                "payload": "status"
            }
        },
        "deleteWorkflow": {
            "http": {
                "method": "DELETE",
                "requestUri": "/_/workflow-engine-operator/api/workflow/{workflowId}"
            },
            "input": {
                "type": "structure",
                "required": [
                    "workflowId"
                ],
                "members": {
                    "workflowId": {
                        "location": "uri",
                        "locationName": "workflowId"
                    }
                }
            },
            "output": {
                "type": "structure",
                "members": {
                    "status": {
                        "type": "blob"
                    }
                },
                "payload": "status"
            }
        },
        "listWorkflows": {
            "http": {
                "method": "GET",
                "requestUri": "/_/workflow-engine-operator/api/workflow"
            },
            "output": {
                "type": "structure",
                "members": {
                    "workflows": {
                        "type": "list",
                        "member": {
                            "shape": "workflowShape"
                        }
                    }
                },
                "payload": "workflows"
            }
        }
    },
    "shapes": {
        "responseShape": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "type": "string"
                },
                "Key": {
                    "type": "string"
                },
                "VersionId": {
                    "type": "string"
                },
                "StorageClass": {
                    "type": "string"
                },
                "Size": {
                    "type": "integer"
                },
                "LastModified": {
                    "type": "timestamp"
                }
            }
        },
        "requestShape": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "type": "string"
                },
                "Key": {
                    "type": "string"
                },
                "VersionId": {
                    "type": "string"
                },
                "StorageClass": {
                    "type": "string"
                }
            }
        },
        "retryResponseShape": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "type": "string"
                },
                "Key": {
                    "type": "string"
                },
                "VersionId": {
                    "type": "string"
                },
                "StorageClass": {
                    "type": "string"
                },
                "Size": {
                    "type": "integer"
                },
                "LastModified": {
                    "type": "timestamp"
                },
                "ReplicationStatus": {
                    "type": "string"
                }
            }
        },
        "workflowShape": {
            "type": "structure",
            "members": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "code": {
                    "type": "string"
                },
                "active": {
                    "type": "boolean"
                },
                "version": {
                    "type": "integer"
                }
            }
        }
    }
}
