{
    "smithy": "2.0",
    "shapes": {
        "com.zenko.json#CheckConnection": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.zenko.json#CheckConnectionOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/_/backbeat/api/healthcheck"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.json#CheckConnectionOutput": {
            "type": "structure",
            "members": {}
        },
        "com.zenko.json#FailedObject": {
            "type": "structure",
            "members": {
                "bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Bucket"
                    }
                },
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Key"
                    }
                },
                "versionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "VersionId"
                    }
                }
            }
        },
        "com.zenko.json#FailedObjectList": {
            "type": "list",
            "member": {
                "target": "com.zenko.json#FailedObject"
            }
        },
        "com.zenko.json#GetFailedObject": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#GetFailedObjectInput"
            },
            "output": {
                "target": "com.zenko.json#GetFailedObjectOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/_/backbeat/api/crr/failed/{Bucket}/{Key}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.json#GetFailedObjectInput": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "versionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "versionId"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#GetFailedObjectOutput": {
            "type": "structure",
            "members": {
                "bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Bucket"
                    }
                },
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Key"
                    }
                },
                "versionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "VersionId"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#GetIngestionStatus": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.zenko.json#GetIngestionStatusOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/_/backbeat/api/ingestion/status"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.json#GetIngestionStatusOutput": {
            "type": "structure",
            "members": {
                "ingestion": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#jsonName": "ingestion"
                    }
                }
            }
        },
        "com.zenko.json#GetLocationsStatus": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.zenko.json#GetLocationsStatusOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/_/backbeat/api/crr/status"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.json#GetLocationsStatusOutput": {
            "type": "structure",
            "members": {
                "locations": {
                    "target": "smithy.api#Document",
                    "traits": {
                        "smithy.api#jsonName": "locations"
                    }
                }
            }
        },
        "com.zenko.json#ListFailed": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#ListFailedInput"
            },
            "output": {
                "target": "com.zenko.json#ListFailedOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/_/backbeat/api/crr/failed"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.json#ListFailedInput": {
            "type": "structure",
            "members": {
                "marker": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "marker"
                    }
                },
                "storageType": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "storageType"
                    }
                },
                "storageClass": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "storageClass"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#ListFailedOutput": {
            "type": "structure",
            "members": {
                "isTruncated": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#jsonName": "IsTruncated"
                    }
                },
                "marker": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Marker"
                    }
                },
                "nextMarker": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "NextMarker"
                    }
                },
                "versions": {
                    "target": "com.zenko.json#FailedObjectList",
                    "traits": {
                        "smithy.api#jsonName": "Versions"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#PauseIngestion": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#PauseIngestionInput"
            },
            "output": {
                "target": "com.zenko.json#PauseIngestionOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/api/ingestion/pause"
                }
            }
        },
        "com.zenko.json#PauseIngestionInput": {
            "type": "structure",
            "members": {
                "site": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "site"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#PauseIngestionOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#PauseReplication": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#PauseReplicationInput"
            },
            "output": {
                "target": "com.zenko.json#PauseReplicationOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/api/crr/pause"
                }
            }
        },
        "com.zenko.json#PauseReplicationInput": {
            "type": "structure",
            "members": {
                "site": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "site"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#PauseReplicationOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#PauseReplicationSite": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#PauseReplicationSiteInput"
            },
            "output": {
                "target": "com.zenko.json#PauseReplicationSiteOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/api/crr/pause/{Site}"
                }
            }
        },
        "com.zenko.json#PauseReplicationSiteInput": {
            "type": "structure",
            "members": {
                "Site": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#PauseReplicationSiteOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#ResumeIngestion": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#ResumeIngestionInput"
            },
            "output": {
                "target": "com.zenko.json#ResumeIngestionOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/api/ingestion/resume"
                }
            }
        },
        "com.zenko.json#ResumeIngestionInput": {
            "type": "structure",
            "members": {
                "site": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "site"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#ResumeIngestionOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#ResumeReplication": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#ResumeReplicationInput"
            },
            "output": {
                "target": "com.zenko.json#ResumeReplicationOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/api/crr/resume"
                }
            }
        },
        "com.zenko.json#ResumeReplicationInput": {
            "type": "structure",
            "members": {
                "site": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "site"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#ResumeReplicationOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#ResumeReplicationSite": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#ResumeReplicationSiteInput"
            },
            "output": {
                "target": "com.zenko.json#ResumeReplicationSiteOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/api/crr/resume/{Site}"
                }
            }
        },
        "com.zenko.json#ResumeReplicationSiteInput": {
            "type": "structure",
            "members": {
                "Site": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#ResumeReplicationSiteOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#RetryFailedObjects": {
            "type": "operation",
            "input": {
                "target": "com.zenko.json#RetryFailedObjectsInput"
            },
            "output": {
                "target": "com.zenko.json#RetryFailedObjectsOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/_/backbeat/api/crr/failed"
                }
            }
        },
        "com.zenko.json#RetryFailedObjectsInput": {
            "type": "structure",
            "members": {
                "bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Bucket"
                    }
                },
                "key": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "Key"
                    }
                },
                "versionId": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#jsonName": "VersionId"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.json#RetryFailedObjectsOutput": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.json#ZenkoJsonService": {
            "type": "service",
            "version": "2018-07-08",
            "operations": [
                {
                    "target": "com.zenko.json#CheckConnection"
                },
                {
                    "target": "com.zenko.json#GetFailedObject"
                },
                {
                    "target": "com.zenko.json#GetIngestionStatus"
                },
                {
                    "target": "com.zenko.json#GetLocationsStatus"
                },
                {
                    "target": "com.zenko.json#ListFailed"
                },
                {
                    "target": "com.zenko.json#PauseIngestion"
                },
                {
                    "target": "com.zenko.json#PauseReplication"
                },
                {
                    "target": "com.zenko.json#PauseReplicationSite"
                },
                {
                    "target": "com.zenko.json#ResumeIngestion"
                },
                {
                    "target": "com.zenko.json#ResumeReplication"
                },
                {
                    "target": "com.zenko.json#ResumeReplicationSite"
                },
                {
                    "target": "com.zenko.json#RetryFailedObjects"
                }
            ]
        },
        "com.zenko.xml#Bucket": {
            "type": "structure",
            "members": {
                "Name": {
                    "target": "smithy.api#String"
                },
                "CreationDate": {
                    "target": "smithy.api#Timestamp"
                }
            }
        },
        "com.zenko.xml#BucketList": {
            "type": "list",
            "member": {
                "target": "com.zenko.xml#Bucket"
            }
        },
        "com.zenko.xml#ListBuckets": {
            "type": "operation",
            "input": {
                "target": "smithy.api#Unit"
            },
            "output": {
                "target": "com.zenko.xml#ListBucketsOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.xml#ListBucketsOutput": {
            "type": "structure",
            "members": {
                "Buckets": {
                    "target": "com.zenko.xml#BucketList"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.xml#ObjectList": {
            "type": "list",
            "member": {
                "target": "com.zenko.xml#S3Object"
            }
        },
        "com.zenko.xml#ObjectVersion": {
            "type": "structure",
            "members": {
                "Key": {
                    "target": "smithy.api#String"
                },
                "VersionId": {
                    "target": "smithy.api#String"
                },
                "IsLatest": {
                    "target": "smithy.api#Boolean"
                },
                "LastModified": {
                    "target": "smithy.api#Timestamp"
                },
                "Size": {
                    "target": "smithy.api#Long"
                }
            }
        },
        "com.zenko.xml#ObjectVersionList": {
            "type": "list",
            "member": {
                "target": "com.zenko.xml#ObjectVersion"
            }
        },
        "com.zenko.xml#S3Object": {
            "type": "structure",
            "members": {
                "Key": {
                    "target": "smithy.api#String"
                },
                "LastModified": {
                    "target": "smithy.api#Timestamp"
                },
                "Size": {
                    "target": "smithy.api#Long"
                },
                "StorageClass": {
                    "target": "smithy.api#String"
                }
            }
        },
        "com.zenko.xml#SearchBucket": {
            "type": "operation",
            "input": {
                "target": "com.zenko.xml#SearchBucketInput"
            },
            "output": {
                "target": "com.zenko.xml#SearchBucketOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/{Bucket}"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.xml#SearchBucketInput": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Query": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "query"
                    }
                },
                "MaxKeys": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "max-keys"
                    }
                },
                "Marker": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "marker"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.xml#SearchBucketOutput": {
            "type": "structure",
            "members": {
                "IsTruncated": {
                    "target": "smithy.api#Boolean"
                },
                "Contents": {
                    "target": "com.zenko.xml#ObjectList"
                },
                "MaxKeys": {
                    "target": "smithy.api#Integer"
                },
                "Marker": {
                    "target": "smithy.api#String"
                },
                "NextMarker": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.xml#SearchBucketV2": {
            "type": "operation",
            "input": {
                "target": "com.zenko.xml#SearchBucketV2Input"
            },
            "output": {
                "target": "com.zenko.xml#SearchBucketV2Output"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/{Bucket}?list-type=2"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.xml#SearchBucketV2Input": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Query": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "query"
                    }
                },
                "MaxKeys": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "max-keys"
                    }
                },
                "ContinuationToken": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "continuation-token"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.xml#SearchBucketV2Output": {
            "type": "structure",
            "members": {
                "IsTruncated": {
                    "target": "smithy.api#Boolean"
                },
                "Contents": {
                    "target": "com.zenko.xml#ObjectList"
                },
                "MaxKeys": {
                    "target": "smithy.api#Integer"
                },
                "ContinuationToken": {
                    "target": "smithy.api#String"
                },
                "NextContinuationToken": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.xml#SearchBucketVersions": {
            "type": "operation",
            "input": {
                "target": "com.zenko.xml#SearchBucketVersionsInput"
            },
            "output": {
                "target": "com.zenko.xml#SearchBucketVersionsOutput"
            },
            "traits": {
                "smithy.api#http": {
                    "method": "GET",
                    "uri": "/{Bucket}?versions"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.zenko.xml#SearchBucketVersionsInput": {
            "type": "structure",
            "members": {
                "Bucket": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "Query": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "query"
                    }
                },
                "MaxKeys": {
                    "target": "smithy.api#Integer",
                    "traits": {
                        "smithy.api#httpQuery": "max-keys"
                    }
                },
                "KeyMarker": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "key-marker"
                    }
                },
                "VersionIdMarker": {
                    "target": "smithy.api#String",
                    "traits": {
                        "smithy.api#httpQuery": "version-id-marker"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.zenko.xml#SearchBucketVersionsOutput": {
            "type": "structure",
            "members": {
                "IsTruncated": {
                    "target": "smithy.api#Boolean"
                },
                "Versions": {
                    "target": "com.zenko.xml#ObjectVersionList"
                },
                "MaxKeys": {
                    "target": "smithy.api#Integer"
                },
                "KeyMarker": {
                    "target": "smithy.api#String"
                },
                "NextKeyMarker": {
                    "target": "smithy.api#String"
                },
                "VersionIdMarker": {
                    "target": "smithy.api#String"
                },
                "NextVersionIdMarker": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.zenko.xml#ZenkoXmlService": {
            "type": "service",
            "version": "2018-07-11",
            "operations": [
                {
                    "target": "com.zenko.xml#ListBuckets"
                },
                {
                    "target": "com.zenko.xml#SearchBucket"
                },
                {
                    "target": "com.zenko.xml#SearchBucketV2"
                },
                {
                    "target": "com.zenko.xml#SearchBucketVersions"
                }
            ]
        }
    }
}
